.my-div {
    width: 400px;
    height: 400px;
    font-size: 20px;
    background-image: url("../images/imag.jpg");
}

.repeat1 {
    background-repeat: no-repeat;
}

.repeat2 {
    background-repeat: repeat-y;
    background-position: right;
}

.repeat3 {
    background-repeat: repeat-x;
    background-position: bottom;
}

.repeat4 {
    background-repeat: repeat-x repeat-y;
}